#rowRegister {
  margin-top: 10rem;
}

#registerImage {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  height: 500px;
  background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/09/android-tv-2071479.jpg");
  background-size: 100% 100%;
}

#registerInput {
  height: 500px;
  border-right: tomato 1px solid;
  border-top: tomato 1px solid;
  border-bottom: tomato 1px solid;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form1 label {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.form1 input {
  max-width: 200px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
}

.form2 label {
  display: flex;
  flex-direction: column;
}

.form2 input {
  max-width: 200px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
}

.register {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.register input {
  border-radius: 5px;
  border: none;
}

.headerForm {
  padding: 1rem;
}

.footerForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-facebook {
  color: darkblue;
  font-size: 24px;
}
.fa-google-plus-g {
  color: darkred;
  font-size: 26px;
}
