img {
  height: auto;
  width: 100%;
}

.pricing {
  background-color: white;
  max-height: 330px;
  margin-top: 2rem;
  padding: 1rem;
  border: 0.3px solid grey;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  overflow: hidden;
  position: relative;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.pricing h1 {
  font-size: 16px;
}

.pricing p {
  font-size: 12px;
}
.pricing .price {
  font-size: 16px;
  color: red;
  display: flex;

  justify-content: center;
  margin-bottom: 12px;
}

.pricing img {
  height: 200px;
  padding: 1rem;
  object-fit: contain;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
