.nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  color: rgb(97, 96, 96);

  z-index: 100;
  width: 100%;
}

.bg-white {
  background-color: rgb(56, 53, 53) !important;
}

/* .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.nav-link1 {
  margin-right: 60px;
  margin-left: 90px;
}

#logo {
  max-width: 200px;
  max-height: 100px;
}

.icon-faSearch {
  margin-right: 0.5rem !important;
}
